.content-holder{
  font-family: 'Sree Krushnadevaraya', serif;
    display:flex;
    flex-direction: row;
    width:100%;
    min-height:60px;
    height:100%;
   }
   .content-holder a{
     text-decoration: none;
   }
   .content-holder a:visited{
     color:#D8E7E9;
   }

   .top-contact-link{
    background: url("../Images/code-left.jpg");
    background-size: 200% 200%;
     width:33%;
     
     
     
   }
   .top-Troy-link{
    background: url("../Images/code-center.jpg");
    background-size: 200% 200%;
     width:34%;
     
   }
   .top-projects-link{
    background: url("../Images/code-right.jpg");
    background-size: 200% 200%;
     width:33%;
     
     
   }

   .top-contact{
     height:60px;
     width:100%;
     display:flex;
     align-items:center;
     justify-content: center;
     background-color: rgba(4, 4, 15, .8);
     
     
   }
   
   .top-Troy{
     height:60px;
     
     width:100%;
     
     display:flex;
     align-items:center;
     justify-content: center;
     background-color: rgba(4, 4, 15, .8);
     
   }

   .top-projects{
     height:60px;
     
     width:100%;
     
     display:flex;
     align-items:center;
     justify-content: center;
     background-color: rgba(4, 4, 15, .8);
     
   }

 